<div id="myModal" class="reveal-modal" data-reveal>
  <div class="panel">
  <h3><strong> What is your question? </strong></h3>
    <form class="question" method="post" action="/design/ask_question">
      <input type="text" placeholder="type here" name="question" />
  
      <input type="submit" id="sign-up" value="sign up" class="button tiny" />
    </form>
  </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
