
<h1 align="center"><strong>What kind of style do they have?</strong> </h1>

<br>
<br>
<div class="form-group">
<div class="row">
  <div class="large-6 large-centered columns">
    <ul id="selectedQualities" class="button-group [radius round]">
    </ul>
  </div>
</div>


<div class="row chosen-qualities">
  <%# the chosen quality buttons will go here %>
</div>

<label for="poll_option">Poll Option:</label>
    <% ['option1','option2','option3','option4','option5'].each do |poll_option| %>
      <%= radio_button_tag 'poll_option', poll_option,@poll_option == poll_option %>
      <%= poll_option %>
    <% end %>

<hr />

<% if @female %>
  <div class="row">
    <div class="small-6 large-centered columns">
      <ul id="qualityPool" class="button-group [radius round]">
      <%# @qualities.each do |quality| %>
        <!-- <li><a href="#" class="button"><%#= quality %></a></li> -->
      <%# end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-4 large-centered columns">
      <ul id="qualityPool" class="button-group [radius round]">
        male condition
      </ul>
    </div>
  </div>
<% end %>
</div>



 <div class="form-group">
  <div class="col-lg-10">
  <p style="font-size: 16px">
  
</div>
</div>

