<br>
<br>

<div class="row">
    <div id="questionpage">
    <h1><strong>Do you understand?</strong></h1>
        <!-- <div class="small-11 small-centered columns" style="background-color:blue;">
            <div class="row">
                <div class="small-6 large-centered columns">
                <h1><strong>Do you understand?</strong></h1>
                </div>
            </div>
 -->
        <br>
        <br>

        <div class="row">
            <div class="small-6 large-centered columns">
            <a href="#" id="yes" class="button [tiny small large]">I Understand</a>
            <a href="#" id="no" class="button [tiny small large]">Not Yet</a>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="small-6 large-centered columns">
                <a href="#" data-reveal-id="myModal" class="button large">I have a question</a>
            </div>

                <div id="myModal" class="reveal-modal" data-reveal>
                  <a class="close-reveal-modal">&#215;</a>

                  <form method="post" action="/question">
                        <h2><strong><center>What is your question?</center></strong></h2>
                        <input type="text" placeholder="type your question here" name="username" />
                            <div class="row">
                            <div class="large-9 large-offset-4 columns">
                                <input class="button tiny" type="submit" value="Ask Question"  />
                            </div>
                            </div>
                      </form>
                </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="small-6 large-centered columns">
            <p><strong>Reminder: your response is anonymous.</strong><p>
            </div>
        </div>
    </div>
</div>


