<div class="row">
    <div class="small-8 large-centered columns">
        <h1><strong>Welcome</strong></h1>
    </div>
</div>

<a href="#" class="button" data-dropdown="drop">Join Lecture &raquo;</a>
<ul id="drop" class="[large content]f-dropdown" data-dropdown-content>
  <li><a href="http://www.google.com">This is a link</a></li>
  <li><a href="http://www.google.com">This is another</a></li>
  <li><a href="http://www.google.com">Yet another</a></li>
</ul>

<a href="#" class="button" data-dropdown="drop">Review Lecture &raquo;</a>
<ul id="drop" class="[large content]f-dropdown" data-dropdown-content>
 <!--  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li> -->
</ul>

<br>
<br>

<!-- <div class="row">
    <div class="large-4 large-centered columns">
        <form  method="post" action="/qualities">
            <input type="text" name="age" placeholder="How old are they?"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="large-4 large-centered columns">
        <input type="radio" name="sex" value="male" id="male"><label for="male">Male</label>
        <input type="radio" name="sex" value="female" id="female"><label for="male">Female</label>
         <input class="small button" type="submit" >
    </div>
</div>
 -->